{% extends "base.html" %} {% block content %}
<h1>Donor wall</h1>
<div class="container">
  <div class="row">
    {% for pledge in object_list %}
    <div class="col-sm donation-grid">
      <p>{{ pledge.pledgee }}</p>
      <p>donated</p>
      <p>&pound;{{ pledge.amount }}</p>
    </div>
    {% if forloop.counter|divisibleby:3 %}
  </div>
  <div class="row">{% endif %} {% endfor %}</div>
</div>
<nav aria-label="pagination">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
        >Previous</a
      >
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link disabled" href="">Previous</a>
    </li>
    {% endif %} 
    {% for page_number in page_obj.paginator.page_range %} 
      {% if page_obj.number == page_number %}
      <li class="page-item">
        <a class="page-link active" href="#">{{ page_number }}</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_number}}">{{ page_number }}</a>
      </li>
      {% endif %} 
    {% endfor %} 
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link disabled" href="">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
